:root{
    --fondo1: #ffff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Scroll Barra Personalizada */
  
  body::-webkit-scrollbar {
    width: 7px;
  }
  body::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 5px;
  }
  
  body {
    font-family: 'open sans';
    background: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23f0f1d9' fill-opacity='0.8' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-color: #babdae;
  }
  
  /* Preloader */
  .hidden{
    overflow: hidden;
  }
  
  .centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
  
    50%,
    100% {
      top: 19px;
      height: 26px;
    }
  }
/* Header */

  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  }
  
  .nav1{
    background: transparent;
    height: 100px;
    color:#000;
  }
  
  .nav2{
    background: var(--fondo1);
    height:100px;
    color:#000;
    z-index: 1;
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    overflow: hidden;
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 17px;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ height:100px;}
  
  .icono{
    display:none;
    font-size: 30px;
    padding: 23.5px 20px;
  }
  
  .textos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #000;
    overflow: hidden;
    text-align: center;
  }
  
  .textos>h1{font-size:80px;;}
  
  .textos>h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 26px;
    padding-bottom: 50px;
  }

/* shop Page */

#blog {
    padding: 150px 150px 0 150px;
  }
  
  #blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
  }
  
  #blog .blog-img{
    width: 50%;
    margin-right: 40px;
    z-index: -2;
  }
  
  #blog img {
    width: 100%;
    height: 320px;
    object-fit: fill;
  }
  
  #blog .blog-details{
    width: 50%;
  }

  #blog .blog-details h4{
    font-size: 30px;
  }
  
  #blog .blog-details a{
    text-decoration: none;
    font-size: 19px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
  }

  #blog .blog-details p {
    font-size: 18px;
    color: #000;
    margin: 20px 0 20px 0;
}

  #blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 11px;
    right: -65px;
  }
  
  #blog .blog-details a:hover{
    color: #1498a4;
  }
  
  #blog .blog-details a:hover::after{
    background-color: #1498a4;
  }
  
  #blog .blog-box h1{
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 80px;
    font-weight: 700;
    color: #31abb6;
    z-index: -9;
  }
  
  #page-header {
    background-image: url("/img/foto2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0px;
  }
  
  #page-header h2 {
    color: #fff;
    font-size: 90px;
    padding: 20px;
    letter-spacing: 8px;
  }
  
  #page-header p {
    color: #fff;
    font-size: 30px;
  }
  
  #pagination {
    text-align: center;
    padding: 40px 0px;
  }
  
  #pagination ul {
    list-style: none;
    
  }
  #pagination ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  #pagination ul li a:hover {
    background: #f3e5ab;
  }
  
  #pagination ul li .active {
    background: #f3e5ab;
  }
  
  #pagination ul li a {
    display: block;
    padding: 15px 20px;
    color: #000;
    font-weight: 800;
    background: #2f3648;
    text-decoration: none;
  }
  
  /* FOOTER LINKS*/
  .footer-links {
    background: #2f3648;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
  }
  
  .footer-container {
    display: grid;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 10px;
  }
  
  .footer-copy {
    background: #2f3648;
    color: #616161;
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 1300px){
    .nav2{
      color: #fff;
    }
    .icono{
      display:block;
      cursor: pointer;
    }
    nav .enlaces a{
      font-size: 24px;
    }
    .enlaces{
      position: fixed;
      top: 100px;
      background-color: #babdae;
      background-image: url(/img/cojines1.jpeg);
      background-size: 100% 450px;
      background-position: bottom;
      background-repeat: no-repeat;
      right: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
    }

    .enlaces a{
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: initial;
      color:#fff;
    }
    /* Tienda Page */
    #blog {
      padding: 150px 100px 0 100px;
  }
  }

  @media screen and (max-width: 1100px){
    /* Tienda Page */
    #blog {
      padding: 150px 60px 0 60px;
  }
  }
  
  @media screen and (max-width: 999px){
    .cont-work{
      width: 95%;
    }
    .marca-logo img{
      width: 60%;
    }
    /* Tienda Page */
    #blog {
      padding: 150px 30px 0 30px;
  }
  }
  
  @media (max-width: 799px) {
    /* Tienda Page */
  
    #page-header p {
        font-size: 30px;
    }
    /* Tienda Page */
    #blog {
      padding: 150px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
}
  #blog .blog-details {
    width: 100%;
}
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  }
  
  @media (max-width: 689px) {
    /* Tienda Page */
    #page-header {
      background-size: 282vw 100%;
    }
  }
  
  @media screen and (max-width: 500px){
    .marca-logo{
      width: 100%;
    }
  
    .iconos{
      margin: auto;
    }
  }
  @media (max-width: 480px){
    header {
      background-attachment: inherit;
    }
    .contenedor-nav {
      padding: 0px 10px;
  }
  
  /* Tienda Page */
  
  #page-header {
    height: 70vh;
    background-size: 245vw 70vh;
  }
  
  #page-header h2 {
    font-size: 50px;
  }
  
  #page-header p {
    font-size: 25px;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
}

#blog .blog-details {
  width: 100%;
}

}
  
  @media screen and (max-width: 450px){
    .footer-container {
      padding: 30px 10px;
    }
    #blog img {
      height: 250px;
  }
  }
  
  @media screen and (max-width: 400px){
    .botones-work li{
      padding: 8px 12px;
    }
  
    .textos>h1 {
      font-size: 50px;
      }
  .contenedor h3{
    font-size: 50px;
  }
  .marca-logo img{
    width: 80%;
  }
}
  
  @media screen and (max-width: 390px){
    #page-footer {
      height: 40vh;
      padding: 11px;
    }
    #page-footer p {
      color: #fff;
      font-size: 20px;
      padding: 10px;
      padding-bottom: 10px;
      letter-spacing: 4px;
    }
    .fab{
      font-size: 40px;
      margin-bottom: 0px;
    }
  
  }