.section-p11 {
    padding: 0px 10px;            
}
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 32.4%;
    padding: 5px 5px;
    border: 3px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    height: 430px;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 15px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}

#product1 .pro .des i {
    font-size: 20px;
    color: rgba(255, 255, 0);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
}

/* Start Media Query */
@media (max-width: 1630px) {
    #product1 .pro {
        min-width: 32.6%;
    }
    #product1 .pro img {
        height: 360px;
    }
}

@media (max-width: 1500px) {
    #product1 .pro {
        min-width: 49%;
    }
    #product1 .pro img {
        height: 360px;
}

@media (max-width: 1280px) {
    .section-p11 {
        padding: 0px 10px;
    }
    #product1 .pro {
        min-width: 49%;
    }
}

@media (max-width: 1024px) {
    #product1 .pro {
        min-width: 49%;
    }
}

@media (max-width: 899px) {
    .section-p11 {
        padding: 0px 10px;
    }
    #product1 .pro {
        min-width: 48.9%;
    }
}

@media (max-width: 799px) {
    .section-p11 {
        padding: 0px 10px;            
    }
    #product1 .pro {
        min-width: 100%;
    }
    #product1 .pro img {
        width: 100%;
        height: 400px;
        border-radius: 20px;
    }
}

@media (max-width: 477px) {
    .section-p11 {
        padding: 0px 5px;            
    }
    #product1 .pro-container {
        padding-top: 0px;
    }
    #product1 .pro img {
        width: 100%;
        height: 220px;
        border-radius: 20px;
    }
}

}